<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-20">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-separate">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Weak to
                </th>
                <th scope="col" class="px-6 py-3">
                    No effective to
                </th>
                <th scope="col" class="px-6 py-3">
                    Very effective to
                </th>
                <th scope="col" class="px-6 py-3">
                    Immune to
                </th>
            </tr>
        </thead>
        <tbody>
            @for (t of types; track $index) {
            @if (t.name != "stellar" && t.name != "unknown") {
            <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row"
                    class=" flex flex-wrap items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:bg-gray-700 dark:text-gray-400">
                    <img src="../../assets/img/{{t.name}}.png" class="w-10 h-10">{{t.name}}
                </th>
                <td class="px-6 py-4">
                    <div class="flex flex-wrap gap-2">
                        @for (d of t.damage_relations.double_damage_from; track $index) {
                        <img src="../../assets/img/{{d.name}}.png" class="w-10 h-10">
                        }
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex flex-wrap gap-2">
                        @for (d of t.damage_relations.half_damage_to; track $index) {
                        <img src="../../assets/img/{{d.name}}.png" class="w-10 h-10">
                        }
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex flex-wrap gap-2">
                        @for (d of t.damage_relations.double_damage_to; track $index) {
                        <img src="../../assets/img/{{d.name}}.png" class="w-10 h-10">
                        }
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex flex-wrap gap-2">
                        @for (d of t.damage_relations.no_damage_to; track $index) {
                        <img src="../../assets/img/{{d.name}}.png" class="w-10 h-10">
                        }
                    </div>
                </td>
            </tr>}}
        </tbody>
    </table>
</div>