<style>
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Jersey+15&family=Ubuntu&display=swap');

    .jersey-15-regular {
        font-family: "Jersey 15", sans-serif;
        font-style: normal;
    }

    h1 {
        font-size: xx-large;
    }
</style>
<div style="background-image: url(../../assets/img/arena.png)" class="w-full h-dvh bg-cover bg-center">
    @if(index === 4){
    <div class="w-full h-5/6 flex items-center justify-center">
        <div
            class="absolute  bg-gray-300 dark:bg-blue-950 shadow-md rounded-sm bg-cover bg-center flex flex-col justify-center items-center p-8 gap-4">
            <div class="flex flex-col items-center justify-center w-full">
                @if(contIA > 3){
                <h1 class="text-black  dark:text-white">PokedexMFN IA wins!!</h1>
                <img src="../../assets/img/MysterioTrainer.png" width="230" alt="">
                }@else if (contUser > 3) {
                <h1 class="text-black  dark:text-white">{{user.name}} wins!!</h1>
                <img src="../../assets/img/ashTrainer.png" width="150" alt="">
                }@else if (contIA === 3 || contUser === 3) {
                <h1 class="text-black  dark:text-white"> It's a draw!!</h1>
                <div class="flex gap-2 justify-center items-center">
                    <img src="../../assets/img/ashTrainer.png" alt="" width="150">
                    <img src="../../assets/img/MysterioTrainer.png" alt="" width="230">
                </div>
                }
            </div>
            <h2 class="text-black  dark:text-white">Final Score: <br>{{user.name}} {{contUser}} - {{contIA}} PokedexMFN
                IA
            </h2>
            <div>
                <a class="btn bg-orange-500 hover:bg-orange-700 text-white" [routerLink]="'/myTeam'">Restart game</a>
                <a class="btn bg-orange-500 hover:bg-orange-700 text-white" [routerLink]="'/home'">Back home</a>
            </div>
        </div>
    </div>
    }@else{


    @if(figthing){
    <div class="jersey-15-regular flex items-center justify-center bg-black p-3 mb-10">
        <div class="flex flex-col gap-2 justify-center items-center">
            <h1 class="text-blue-500 text-3xl-center">
                PokedexMFN IA {{contIA}}
            </h1>
        </div>
        <h1 class="text-white p-2">-</h1>
        <div class="flex flex-col gap-2 justify-center items-center">
            <h1 class="text-red-500 text-3xl-center">
                {{contUser}} {{user.name}}
            </h1>
        </div>
    </div>
    <div class="flex items-center justify-center w-full h-4/6">
        <div *ngFor="let p of aleatoryTeam; let i = index">
            <div *ngIf="i === currentIndex">
                <p class="text-white p-3 bg-gray-700 rounded text-center bg-opacity-40 text-lg">
                    {{ p.name }}
                </p>
                <img [src]="p.sprites.other.home.front_default" width="200" height="200"
                    [style]="{ filter: 'drop-shadow(2px -2px 1px black)' }" />
                <div class="flex gap-2 justify-center items-center">
                    <img class="bg-gray-700 p-1 rounded-full" src="../../assets/img/{{ p.types[0].type.name }}.png"
                        width="50" height="50" />
                </div>
            </div>
        </div>
        <button (click)="currentIndex = (currentIndex + 1) % 6; incrementIndex()"
            class="text-white p-3 mx-5 bg-red-700 hover:bg-red-900 border-2 border-white rounded text-center text-lg">
            Attack
        </button>
        <div *ngFor="let p of pokemons; let i = index">
            <div *ngIf="i === currentIndex">
                <p class="text-white p-3 bg-gray-700 rounded text-center bg-opacity-40 text-lg">
                    {{ p.name }}
                </p>
                <img [src]="p.sprites.other.home.front_default" width="200" height="200"
                    [style]="{ filter: 'drop-shadow(2px -2px 1px black)' }" />
                <div class="flex gap-2 justify-center items-center">
                    <img class="bg-gray-700 p-1 rounded-full" src="../../assets/img/{{ p.types[0].type.name }}.png"
                        width="50" height="50" />
                </div>
            </div>
        </div>

    </div>

    }@else {
    <div class="flex items-center justify-center w-full h-5/6">
        <div class="flex flex-col gap-2">
            <img src="../../assets/img/MysterioTrainer.png" width="230" height="230"
                [style]="{ filter: 'drop-shadow(2px -2px 1px black)' }" />
            <p class="text-white p-3 bg-gray-700 rounded text-center bg-opacity-40 text-lg">
                PokedexMFN IA
            </p>
        </div>
        <img src="../../assets/img/vs.gif" class="" />
        <div class="flex flex-col gap-2">
            <img src="../../assets/img/ashTrainer.png" width="150" height="150"
                [style]="{ filter: 'drop-shadow(2px -2px 1px black)' }" />
            <p class="text-white p-3 bg-gray-700 rounded text-center bg-opacity-40 text-lg">
                {{ user.name }}
            </p>
        </div>
    </div>
    <div class="flex items-center justify-center w-full">
        <button class="btn bg-orange-500 hover:bg-orange-700 text-white " (click)="fight(); getAleatoryTeam()">
            Start Fight
        </button>
    </div>
    }

    }
</div>