/* 
.card:checked{
    transform: rotateY(180deg) ;
    transition: all 1s;
    z-index: 0;
}
*/
.cardflip .card-front{
    z-index: 0;
    cursor: pointer;
    visibility: hidden;   
    animation: flipreverse 1s;
    transition-delay: 2s;   
}
.card-back{
    display: none;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out; 
}

.card-flip .card-back{
    z-index: 1;
    cursor: pointer;
    display: block;    
    position: absolute;
    background-color: rgb(28, 28, 53);
    transform: rotateY(180deg);
    transition-delay: 2s;    
}

@keyframes flip {
    0% {
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
@keyframes flipreverse {
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}
/*
.card:hover  .card-back{
    z-index: 1;
    cursor: pointer;
    display: block;    
    position: absolute;
    background-color: rgb(28, 28, 53);
    transform: rotateY(180deg); 
    transition-delay: 2s;    
}

.flipped {
    transform: rotateY(180deg);
} */